body {
    background-color: #515e63; }

   button {width: 150px;}
#chat_box {
    background-color: #42484b; 
    height: screen;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    color: aliceblue;
    }

#msg_box{
    background-color: #333536;
    padding: 10px;
}
#chat_msg {
    border-bottom: #272829;
    border-bottom: 2px;}
#chat_nick_name {
    color: greenyellow;
    width: 70%;}
#cht_msg_time {text-align: right;
                width: 20%;}

#chat_msg_content{
    margin-left: 20px;
    
            }


            #ipts{margin-top: 10px;}
#msg {
    font-size:large;
    border-radius: 3px;
width: 60%;}


