<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set your name</title>
    <link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">
    </style>

</head>
<body>
<div id="chat_box">
    <h1>Chat</h1>
    <div id="msg_box">

    </div>
    <div id="ipts">
        <input type="text" name="msg" id="msg" placeholder="Massage...">
        <button id="send_button">Send</button>
        <button id="update_button">Update</button>
    </div>
</div>


<p onclick="window.location.replace('/')">back</p>
<p onclick="console.log(chat);">chat</p>

<script text="text/javascript" type="module" src="{{ url_for('static', filename='js/chat_main.js') }}"></script>
</body>
</html>