<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set your name</title>
</head>
<body>
<input type="text" name="nick" id="nick" placeholder="Nickname">
<button id="enter">Enter Room</button>

<script text="text/javascript" src="{{ url_for('static', filename='js/index_main.js') }}"></script>
</body>
</html>